<div class="d-flex justify-content-around align-items-center">

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Currency
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let currency of currency_list">
        <a class="dropdown-item" href="#" (click)="updateCurrency(currency)">{{currency}}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="currency.length > 0">
    <span class="badge badge-default">{{currency}}</span>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Market
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let market of market_list">
        <a class="dropdown-item" href="#" (click)="updateMarket(market)">{{market}}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="market.length > 0">
    <span class="badge badge-default">{{market}}</span>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Timeframe
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#" (click)="updateTimeframe('MINUTE')">Intraday (1min)</a>
      </li>
      <div class="dropdown-divider"></div>
      <li>
        <a class="dropdown-item" href="#" (click)="updateTimeframe('HOURLY')">Intraday (1hr)</a>
      </li>
      <div class="dropdown-divider"></div>
      <li>
        <a class="dropdown-item" href="#" (click)="updateTimeframe('DAILY')">Daily (1d)</a>
      </li>
    </ul>
  </div>

  <div *ngIf="timeframe.length > 0">
    <span class="badge badge-default">{{timeframe}}</span>
  </div>

  <button class="btn btn-primary btn-lg " type="button" (click)="generateAPI_URL()">
    <i class="fa fa-btc"></i> Chart</button>

</div>

<div class="container">
  <app-crypto-chart></app-crypto-chart>
</div>