<div class="d-flex justify-content-around align-items-center">

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Currency
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let currency of objectKeys(currency_list)">
        <a class="dropdown-item" href="#" (click)="updateCurrency(currency)">{{currency}}</a>
      </li>
    </ul>
  </div>

  <span class="badge badge-default" *ngIf="_currency.length > 0">{{_currency}}</span>

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Market
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let market of market_list">
        <a class="dropdown-item" href="#" (click)="updateMarket(market)">{{market}}</a>
      </li>
    </ul>
  </div>

  <span class="badge badge-default" *ngIf="_market.length > 0">{{_market}}</span>

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Timeframe
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li *ngFor="let timeframe of timeframe_list">
            <a class="dropdown-item" href="#" (click)="updateTimeframe(timeframe)">{{timeframe}}</a>
          </li>
    </ul>
  </div>

  <div *ngIf="_timeframe.length > 0">
    <span class="badge badge-default">{{_timeframe}}</span>
  </div>

  <button class="btn btn-primary btn-lg " type="button" (click)="generateChart()">
    <i class="fa fa-btc"></i> Chart</button>

</div>

<div class="container">
  <app-crypto-chart></app-crypto-chart>
</div>