<div class="d-flex justify-content-around align-items-center">

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Pairing 1 <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" (click)="updateFirstPair('BTC')">BTC</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#" (click)="updateFirstPair('ETH')">ETH</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#" (click)="updateFirstPair('LTC')">LTC</a></li>
    </ul>
  </div>

  <div *ngIf="first_pair.length > 0">
      <span class="badge badge-default">{{first_pair}}</span>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Pairing 2 <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" (click)="updateSecondPair('USD')">USD</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#" (click)="updateSecondPair('EUR')">EUR</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#" (click)="updateSecondPair('CNY')">CNY</a></li>
    </ul>
  </div>

  <div *ngIf="second_pair.length > 0">
      <span class="badge badge-default">{{second_pair}}</span>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Timeframe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#" (click)="updateTimeframe('INTRADAY')">Intraday (5min)</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#" (click)="updateTimeframe('DAILY')">Daily (1d)</a></li>
      <div class="dropdown-divider"></div>
      <li><a class="dropdown-item" href="#" (click)="updateTimeframe('WEEKLY')">Weekly (1w)</a></li>
    </ul>
  </div>

  <div *ngIf="timeframe.length > 0">
      <span class="badge badge-default">{{timeframe}}</span>
  </div>

  <button class="btn btn-primary btn-lg " type="button" (click)="chart()"> <span class="fa fa-bar-chart" style="font-size:24px;color:white"></span> Chart</button>

</div>