<div *ngIf="loaded" padding-top="25px">
    <dx-chart id="chart" title="{{title}}" [dataSource]="crypto_OHLC">
        <dxi-series name="{{currency}}" openValueField="open" highValueField="high" lowValueField="low" closeValueField="close">
            <dxo-reduction color="red"></dxo-reduction>
        </dxi-series>
        <dxo-common-series-settings argumentField="time" type="candlestick">
        </dxo-common-series-settings>
        <dxo-legend itemTextPosition="left"></dxo-legend>
        <dxi-value-axis [tickInterval]="1">
            <dxo-title text="{{market}}"></dxo-title>
            <dxo-label>
                <dxo-format type="currency" [precision]="0">
                </dxo-format>
            </dxo-label>
        </dxi-value-axis>
        <dxo-argument-axis [workdaysOnly]="false">
            <dxo-label format="shortDate"></dxo-label>
        </dxo-argument-axis>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-tooltip [enabled]="true" location="edge" [customizeTooltip]="customizeTooltip">
        </dxo-tooltip>
    </dx-chart>
</div>