<div class="row">
  <div class="col-3">
      <br>
      <br>
    <h2>Crypto</h2>
      <combo-box *ngIf="CoinList != null"
                 [options]="CoinList" 
                 [render]="'fullname'"
                 [placeholder]="'Bitcoin (BTC)'"
                 (callback)="SetCoin($event)">
      </combo-box>
      <br>
      <br>
    <h2>Datapoints</h2>
      <combo-box *ngIf="DurationAmountOptions != null"
                 [options]="DurationAmountOptions"
                 [placeholder]="'500'"
                 (callback)="SetDurationAmount($event)">
      </combo-box>
      <br>
      <br>
    <h2>Timeframe</h2>
      <combo-box *ngIf="DurationOptions != null"
                 [options]="DurationOptions"
                 [placeholder]="'Days'"
                 (callback)="SetDuration($event)">
      </combo-box>
  </div>
  <div class="col-9">
    <!-- If no coin is selected, use Bitcoin -->
    <app-chart *ngIf="CoinList != null" 
               [coin]="SelectedCoin ? SelectedCoin : CoinList[0]"
               [duration]="Duration ? Duration : 'Days'"
               [durationAmount]="DurationAmount ? DurationAmount : '500'">
    </app-chart>
  </div>
</div>