.col-md-2 {
    background-color: #8e8d8a;
    border-radius: 5px;
    padding: 0px;
}

.row {
    border-radius: 5px;
    height: 100%;
    align-items: center;
}

.btn {
    background-color: #8f8f8f;
    border-color: #646464;
    color: #353535;
    height: 100%;
    margin: 0px;
}

.btn:focus {
    outline: none;
}

li {
    color: #383838;
    font-size: 14px;
    font-family: monospace;
}

h2 {
    font-weight: bold;
    color: #383838;
    font-size: 24px;
    font-family: monospace;
    border-bottom: 1px solid #383838;
    text-align: center;
}
