<div class="row">
    <div class="col-md-10" *ngIf="GainersSelected && !!Gainers">
        <li *ngFor="let gainer of Gainers">
            {{Gainers.indexOf(gainer) + 1}}. {{gainer.name}} ({{gainer.symbol}}) - {{gainer.quotes.USD.price | currency:'USD':'symbol':'1.4-4'}} ({{gainers.quotes.USD.percent_change_24h}})
            <i class="fa fa-up-arrow"></i>
        </li>
    </div>
    <div class="col-md-10" *ngIf="!GainersSelected && !!Losers">
        <li *ngFor="let loser of Losers">
            {{Losers.indexOf(loser) + 1}}. {{loser.name}} ({{loser.symbol}}) -- {{loser.quotes.USD.price | currency:'USD':'symbol':'1.4-4'}} ({{loser.quotes.USD.percent_change_24h}}%)
            <i class="fa fa-down-arrow"></i>
        </li>
    </div>
    <div class="col-md-2">
        <button role="button" class="btn btn-secondary btn-block" (click)="SelectGainers()">
            <i class="fa fa-up-arrow"></i>
        </button>
        <button role="button" class="btn btn-secondary btn-block" (click)="SelectLosers()">
            <i class="fa fa-down-arrow"></i>
        </button>
    </div>
</div>