<div *ngIf="ohlc != null" padding-top="15px">
    <dx-chart 
        id="chart" 
        title="{{coin.symbol.toUpperCase()}}/USD - {{durationAmount}} {{this.duration}}"
        [dataSource]="ohlc">
        <dxi-series 
            name="{{coin.fullname}}" 
            openValueField="open"
            highValueField="high" 
            lowValueField="low" 
            closeValueField="close">
            <!-- <dxo-reduction [color]="red"></dxo-reduction> -->
        </dxi-series>
        <dxo-common-series-settings 
            argumentField="friendly_date"
            type="candlestick">
        </dxo-common-series-settings>
        <dxo-legend
            itemTextPosition="left">
        </dxo-legend>
        <dxi-value-axis 
            [tickInterval]="100">
            <dxo-title
                text="Price (USD)">
            </dxo-title>
            <dxo-label>
                <dxo-format 
                    type="currency"
                    [precision]="0">
                </dxo-format>
            </dxo-label>
        </dxi-value-axis>
        <dxo-argument-axis
            [workdaysOnly]="false">
            <dxo-label
                format="shortDate">
            </dxo-label>
        </dxo-argument-axis>
        <dxo-export 
            [enabled]="true">
        </dxo-export>
    </dx-chart>
</div>