.d-flex {
    padding: 5px 5px;
    background-color: #e1e1e1;
}

.card {
    border: 2px solid rgba(0,0,0,.15);
    width: 10rem;
}

.row {
    padding-top: 20px;
}

.card-title {
    font-weight: bold;
}

img {
    padding-right: 14px;
}